
.game {
	background-image: url("");
	background-size: 100%;
	width: 640px;
	height: 360px;
	margin: auto;
	cursor: url(cursor/default.png) 4 5, default;
}

.nav {
	position: relative;
	height: 100%;
	width: 20%;
	color: transparent;
	border: 2px dotted black;
	display: block;
}

#left {
	float: left;
	cursor: url(cursor/left.png) 5 16, w-resize;
}

#right {
	float: right;
	cursor: url(cursor/right.png) 27 15, e-resize;
}

#forward {
	margin: auto;
	display: none;
	width: 40%;
	text-align: center;
	cursor: url(cursor/forward.png) 16 5, n-resize;
}

#back {
	display: none;
	width: 100%;
	height: 40%;
	top: 60%;
	cursor: s-resize;
}

.objectviewnav {
	cursor: s-resize	!important;
}

.obj {
	cursor: url(cursor/point.png) 11 3, pointer;
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
}
