.game {
	background-image: url("");
	background-size: 100%;
	width: 640px;
	height: 360px;
	cursor: url(cursor/default.png) 4 5, default;
	position: absolute;
	margin: 0 auto;
	left: 0; right: 0;
}

.object-container {
	position: absolute;
	width: 0;
	height: 0;
}

.popup {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}

#popup-bg {
	display: block;
	width: 100%;
	height: 100%;
}

.popup-contents {
	position: absolute;
	display: inline-block;
	height: 60%;
	width: 60%;
	margin: auto;
	left: 0; right: 0; top: 0; bottom: 0;
	pointer-events: none;
}

#popup-object {
	padding-top: 10%;
	display: block;
	margin: auto;
	left: 0; right: 0; top: 0; bottom: 0;
}


.popup-caption {
	display: block;
	text-align: center;
	font-family: sans-serif;
	text-shadow: 0 0 4px white, 1px 1px 4px white, -1px 1px 4px white, -1px -1px 4px white, 1px -1px 4px white;
	font-size: 24pt;

/*	margin: auto;
	left: 0; right: 0; top: 0; bottom: 0;
*/}

a {
	cursor: url(cursor/point.png) 11 3, pointer;
}

.nav {
	position: absolute;
	height: 100%;
	width: 20%;
	color: transparent;
	display: block;
}

.normalnav {}

.objectviewnav {
	cursor: url(cursor/back.png) 16 24, s-resize	!important;
}

#left {
	left: 0;
	cursor: url(cursor/left.png) 5 16, w-resize;
}

#right {
	right: 0;
	cursor: url(cursor/right.png) 27 15, e-resize;
}

#forward {
	margin: 0 auto;
	left: 0;
	right: 0;
	display: none;
	width: 40%;
	text-align: center;
	cursor: url(cursor/forward.png) 16 5, n-resize;
}

#back {
	display: none;
	width: 100%;
	height: 40%;
	top: 60%;
	cursor: url(cursor/back.png) 16 24, s-resize;
}

.obj {
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
}
